@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap");
.mt-med {
  margin-top: 2rem; }

.mt-lrg {
  margin-top: 12rem; }

.cargoDrone {
  padding: 3rem;
  display: flex;
  justify-content: center;
  gap: 10rem;
  align-items: center; }
  @media screen and (max-width: 1260px) {
    .cargoDrone {
      flex-direction: column;
      gap: 4rem; } }
  .cargoDrone-img {
    height: 20rem; }
    .cargoDrone-img-2 {
      height: 30rem; }
    @media screen and (max-width: 1338px) {
      .cargoDrone-img {
        width: 30rem;
        height: auto; } }
  .cargoDrone-content {
    width: 60rem;
    text-align: center; }
    @media screen and (max-width: 1338px) {
      .cargoDrone-content {
        width: 30rem;
        height: auto; } }
  .cargoDrone-heading {
    color: #339af0;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 2rem; }
  .cargoDrone-paragraph {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .cargoDrone-text {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-transform: capitalize; }
    @media screen and (max-width: 718px) {
      .cargoDrone-text {
        font-size: 1.2rem;
        width: 70%; } }

.drone-feature {
  margin-bottom: 2rem; }
  .drone-feature-row {
    margin-left: 10rem;
    display: grid;
    grid-template-columns: repeat(4, 30rem);
    grid-template-rows: repeat(2, 25rem);
    grid-gap: 2rem 0;
    justify-content: center;
    align-content: center; }
    @media screen and (max-width: 1338px) {
      .drone-feature-row {
        grid-template-columns: repeat(3, 30rem);
        grid-template-rows: repeat(3, 25rem); } }
    @media screen and (max-width: 990px) {
      .drone-feature-row {
        grid-template-columns: repeat(2, 30rem);
        grid-template-rows: repeat(4, 25rem); } }
    @media screen and (max-width: 700px) {
      .drone-feature-row {
        grid-template-columns: repeat(1, 30rem);
        grid-template-rows: repeat(8, 25rem); } }
  .drone-feature-col {
    height: 25rem;
    width: 20rem;
    background: #339af0;
    border: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    transition: .4s;
    position: relative; }
  .drone-feature-icon {
    font-size: 3rem;
    color: white; }
  .drone-feature-text {
    font-size: 2.3rem;
    color: white;
    font-weight: 700; }

.dp-content {
  flex-direction: row-reverse; }
  @media screen and (max-width: 1260px) {
    .dp-content {
      flex-direction: column;
      gap: 4rem; } }

.goback:link, .goback:visited {
  position: fixed;
  font-size: 2rem;
  text-decoration: none;
  background: white;
  color: #339af0;
  padding: 1rem;
  border-radius: 100%;
  left: 2rem; }
  @media screen and (max-width: 512px) {
    .goback:link, .goback:visited {
      left: 0rem;
      top: 0; } }

.features {
  margin-bottom: 3rem;
  padding: 2rem 6rem; }
  .features-cards {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 1000px) {
      .features-cards {
        flex-direction: column-reverse;
        gap: 1rem; } }
  .features-card {
    width: 30rem;
    text-align: center;
    padding: 2rem 1rem;
    transition: .2s;
    border-radius: 6px; }
    .features-card:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      transform: translateY(-1rem); }
  .features-icon {
    color: #4dabf7;
    font-size: 4rem; }
  .features-text-heading {
    font-size: 2rem;
    font-weight: 900;
    color: #4dabf7; }
  .features-texts {
    margin-top: 1rem;
    font-size: 1.4rem;
    text-transform: capitalize; }

.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  position: relative; }
  .navbar-logo {
    cursor: pointer;
    height: 3rem; }
    @media screen and (max-width: 800px) {
      .navbar-logo {
        height: 2rem; } }
  .navbar-img {
    height: 4rem; }
  .navbar-list {
    list-style: none; }
    @media screen and (max-width: 1401px) {
      .navbar-list {
        display: none; } }
  .navbar-item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 1.6rem;
    cursor: pointer; }
  .navbar-item {
    cursor: pointer;
    transition: .4s; }
    .navbar-item a {
      color: #000;
      text-decoration: none; }
      .navbar-item a:hover {
        color: #228be6; }
    .navbar-item:hover {
      color: #228be6; }
  .navbar-userbox {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 1401px) {
      .navbar-userbox {
        display: none; } }
  .navbar-user {
    font-size: 1.7rem;
    margin-right: 1rem;
    font-weight: 300; }
  .navbar-hidden {
    position: absolute;
    top: 2rem;
    width: 95%; }
    .navbar-hidden > * {
      position: absolute; }
    .navbar-hidden .fas {
      right: 0rem;
      color: #228be6;
      font-size: 2rem;
      visibility: 0;
      opacity: 0; }
      @media screen and (max-width: 1401px) {
        .navbar-hidden .fas {
          visibility: visible;
          opacity: 1; } }
      @media screen and (max-width: 600px) {
        .navbar-hidden .fas {
          right: 1rem; } }
    .navbar-hidden-links {
      top: 4rem;
      z-index: 10000;
      background-color: #fff;
      font-size: 1.4rem;
      font-weight: 500;
      height: 0;
      width: 100%;
      opacity: 0;
      visibility: none;
      transition: .4s;
      pointer-events: none; }
    .navbar-hidden-list {
      list-style: none; }
    .navbar-hidden-link {
      color: #228be6;
      text-decoration: none; }
    .navbar-hidden-item {
      cursor: pointer;
      margin: 2rem 0;
      color: #228be6;
      text-decoration: none; }

.visible {
  width: 100%;
  opacity: 1;
  visibility: visible;
  height: 50rem; }

.dropdown-btn {
  font-size: 1.6rem;
  outline: none;
  border: none;
  background: #fff;
  font-family: "Montserrat"; }
  .dropdown-btn:focus ~ ul {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); }

.dropdown-list {
  visibility: hidden;
  opacity: 0;
  margin-top: 1rem;
  border-radius: 10px;
  position: absolute;
  list-style: none;
  height: 25rem;
  width: 20rem;
  background: #228be6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: .3s;
  transform: translateY(-10px); }
  .dropdown-list li a {
    color: white !important;
    display: block; }
    .dropdown-list li a:hover {
      color: white; }
  .dropdown-list li {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .dropdown-list li a {
      cursor: pointer;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; }

.pe {
  pointer-events: all; }

.hero {
  display: flex;
  height: 67rem;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem; }
  @media screen and (max-width: 924px) {
    .hero {
      flex-direction: column-reverse;
      justify-content: center; } }
  @media screen and (max-width: 1380px) {
    .hero {
      height: 50rem; } }
  .hero-img {
    height: 35rem;
    width: auto; }
    @media screen and (max-width: 1400px) {
      .hero-img {
        height: 25rem; } }
    @media screen and (max-width: 410px) {
      .hero-img {
        height: 15rem; } }
  .hero-text {
    font-weight: 400;
    font-size: 6rem; }
    @media screen and (max-width: 924px) {
      .hero-text {
        text-align: center; } }
    @media screen and (max-width: 1400px) {
      .hero-text {
        font-size: 4rem; } }
    @media screen and (max-width: 690px) {
      .hero-text {
        font-size: 3rem; } }
    .hero-text span {
      color: #4dabf7;
      font-weight: 700; }
  .hero-subtitle {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem; }
    @media screen and (max-width: 924px) {
      .hero-subtitle {
        text-align: center; } }
    @media screen and (max-width: 1400px) {
      .hero-subtitle {
        font-size: 1.6rem; } }
  .hero-btn {
    cursor: pointer;
    font-size: 2rem;
    color: #339af0;
    display: inline-block;
    text-decoration: underline;
    font-weight: 600;
    transition: .3s; }
    @media screen and (max-width: 924px) {
      .hero-btn {
        display: block;
        text-align: center; } }
    @media screen and (max-width: 1400px) {
      .hero-btn {
        font-size: 1.3rem; } }
    .hero-btn:hover {
      background-color: #339af0;
      color: #fff;
      text-decoration: none; }

.faqs {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .faqs-box {
    width: 74rem; }
    @media screen and (max-width: 1336px) {
      .faqs-box {
        width: 60rem; } }
    @media screen and (max-width: 1170px) {
      .faqs-box {
        width: 50rem; } }
    @media screen and (max-width: 610px) {
      .faqs-box {
        width: 45em; } }
    @media screen and (max-width: 555px) {
      .faqs-box {
        width: 40rem; } }
    @media screen and (max-width: 480px) {
      .faqs-box {
        width: 35rem; } }
    @media screen and (max-width: 450px) {
      .faqs-box {
        width: 30rem; } }
  .faqs-question {
    text-transform: capitalize;
    cursor: pointer;
    color: #339af0;
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
    letter-spacing: 3px;
    position: relative; }
    @media screen and (max-width: 1336px) {
      .faqs-question {
        font-size: 1.4rem; } }
    @media screen and (max-width: 610px) {
      .faqs-question {
        font-size: 1.1rem;
        letter-spacing: normal; } }
    .faqs-question::after {
      content: "+";
      font-size: 4rem;
      position: absolute;
      right: 1rem;
      top: -.2rem; }
  .faqs-answer {
    padding: 1rem;
    font-size: 1.3rem; }
    .faqs-answer .content {
      height: 0;
      overflow: hidden;
      transition: .5s;
      position: relative;
      overflow-y: auto; }
  .faqs-active .faqs-answer .content {
    height: 7rem; }
  .faqs-content {
    height: 100%;
    display: flex;
    align-items: center; }
    @media screen and (max-width: 1048px) {
      .faqs-content {
        flex-direction: column; } }
  .faqs-img {
    height: 30rem;
    margin-right: 2rem;
    width: auto; }
    @media screen and (max-width: 1048px) {
      .faqs-img {
        margin-bottom: 2rem; } }
    @media screen and (max-width: 1404px) {
      .faqs-img {
        height: 25rem; } }
    @media screen and (max-width: 450px) {
      .faqs-img {
        width: 20rem; } }

.timeline {
  padding: 1rem;
  margin-bottom: 3rem; }
  .timeline-items {
    max-width: 100rem;
    display: flex;
    flex-wrap: wrap;
    margin: auto; }
  .timeline-item {
    margin-bottom: 4rem;
    position: relative;
    width: 100%; }
    @media screen and (max-width: 480px) {
      .timeline-item {
        width: 90%; } }
    .timeline-item:nth-child(odd) {
      padding-right: calc(50% + 3rem); }
      @media screen and (max-width: 767px) {
        .timeline-item:nth-child(odd) {
          padding-right: 0;
          text-align: left;
          padding-left: 3.7rem; } }
    .timeline-item:nth-child(even) {
      padding-left: calc(50% + 3rem); }
      @media screen and (max-width: 767px) {
        .timeline-item:nth-child(even) {
          padding-left: 3.7rem;
          text-align: left; } }
    .timeline-item:last-of-type {
      margin-bottom: 1rem; }
      .timeline-item:last-of-type::before {
        height: 0; }
    .timeline-item::before {
      content: '';
      position: absolute;
      width: .2rem;
      height: 133%;
      background: #74c0fc;
      left: calc(50% - 1px); }
      @media screen and (max-width: 767px) {
        .timeline-item::before {
          left: 8px; } }
  .timeline-content {
    padding: 2rem 0;
    border-radius: 6px; }
  .timeline-dot {
    height: 2rem;
    width: 2rem;
    background: #228be6;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 1rem); }
    @media screen and (max-width: 767px) {
      .timeline-dot {
        left: 0; } }
  .timeline-step {
    font-size: 2rem; }
  .timeline-icon {
    color: #4dabf7;
    font-size: 3rem; }
  .timeline-text-content {
    margin-top: 1rem; }
  .timeline-text {
    font-size: 2rem;
    text-transform: capitalize; }
    @media screen and (max-width: 480px) {
      .timeline-text {
        font-size: 1.3rem; } }

.testimonials {
  padding: 2rem 4rem; }
  .testimonials-row {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative; }
    @media screen and (max-width: 1000px) {
      .testimonials-row {
        flex-direction: column-reverse;
        gap: 1rem; } }
    .testimonials-row::before {
      content: '\201C';
      position: absolute;
      font-size: 15rem;
      top: -6rem;
      left: 0;
      color: rgba(51, 154, 240, 0.6); }
    .testimonials-row::after {
      content: '\201D';
      position: absolute;
      font-size: 15rem;
      top: -6rem;
      right: 0;
      color: rgba(51, 154, 240, 0.6); }
  .testimonials-col {
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative; }
    @media screen and (max-width: 480px) {
      .testimonials-col {
        width: 35rem; } }
  .testimonials-pic {
    border-radius: 50%;
    height: 7rem; }
  .testimonials-name {
    margin-top: 1rem;
    font-size: 2rem;
    color: #228be6;
    font-weight: 600; }
  .testimonials-stars {
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    color: #228be6; }
    .testimonials-stars > * {
      margin: 0 .3rem;
      font-size: 1.5rem; }
  .testimonials-review {
    font-size: 1.5rem; }
    @media screen and (max-width: 480px) {
      .testimonials-review {
        font-size: 1.3rem; } }
    @media screen and (max-width: 480px) {
      .testimonials-review {
        width: 25rem; } }

.footer {
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1rem;
  background-color: #495057; }
  .footer-desc {
    color: #fff;
    text-transform: capitalize; }

.calculator {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .calculator-result {
    height: 35rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column; }
    .calculator-result button {
      outline: none;
      border: none;
      background-color: #339af0;
      cursor: pointer;
      color: #fff;
      padding: .8rem 2rem;
      border-radius: 6px; }
  .calculator-heading-bill {
    font-size: 3rem;
    font-weight: 700;
    color: #74c0fc; }
  .calculator-final {
    font-size: 1.3rem; }
  .calculator-val {
    font-size: 3rem; }
  .calculator-heading {
    font-size: 1.4rem;
    color: white; }
  .calculator-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }

.form-wrapper {
  height: 35rem;
  width: 35rem;
  background-color: #4dabf7;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around; }

.form-group {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .form-group label {
    color: white;
    align-items: flex-start;
    font-size: 1.5rem;
    margin-bottom: 1rem; }

.form-input {
  height: 3.5rem;
  border-radius: 5px;
  border: none;
  padding: 1rem; }
  .form-input:placeholder-shown {
    padding: 1rem; }
  .form-input:focus {
    outline: none; }

#form-type-select {
  padding: 1rem;
  width: 18rem;
  height: 3.5rem;
  border-radius: 5px;
  outline: none;
  border: none;
  color: grey; }

.order {
  width: 80%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .order-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 900px) {
      .order-details {
        flex-direction: column; } }
  .order-intro {
    display: flex;
    align-items: center; }
  .order-img i {
    text-align: center;
    font-size: 3rem;
    color: #339af0;
    padding: 1rem;
    border: currentColor solid 1px;
    border-radius: 100px;
    margin: 15px;
    box-shadow: 0px 0px 0px 1px #fff inset; }
  .order-id {
    font-size: 2rem;
    margin-left: 1rem;
    color: #339af0; }
  .order-info {
    display: flex;
    justify-content: space-between;
    width: 20rem; }
  .order-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem; }
  .order-title {
    color: #339af0;
    margin-bottom: 0.2rem; }
  .order-overview {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    @media screen and (max-width: 624px) {
      .order-overview {
        flex-direction: column; } }
  .order-status-list {
    font-size: 1.5rem;
    list-style: none; }
    @media screen and (max-width: 900px) {
      .order-status-list {
        font-size: 1.3rem; } }
  .order-status-item {
    margin: .7rem 0; }

.progressbar {
  height: 10rem;
  width: 100%;
  margin-top: 3rem; }
  .progressbar-list {
    counter-reset: step; }
  .progressbar-item {
    list-style: none;
    float: left;
    width: 20%;
    position: relative;
    font-size: 1.4rem;
    text-align: center; }
    .progressbar-item::before {
      content: counter(step);
      counter-increment: step;
      width: 2rem;
      height: 2rem;
      border: 1px solid #339af0;
      display: block;
      text-align: center;
      border-radius: 50%;
      margin: 0 auto 10px auto;
      background: #fff;
      padding: .2rem; }
    .progressbar-item::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      left: -50%;
      top: 10px;
      background: #339af0;
      z-index: -1; }
    .progressbar-item:first-child::after {
      content: none; }

.active {
  color: #339af0; }
  .active::before {
    background-color: #339af0;
    color: white; }
  .active + li::after {
    background-color: #339af0;
    height: .2rem; }

#map {
  height: 65rem;
  width: 100%;
  margin-top: 1rem;
  position: relative; }

.bd {
  padding: 3rem; }

.heading {
  color: #339af0;
  font-size: 3rem;
  font-weight: 600;
  text-align: center; }
  @media screen and (max-width: 900px) {
    .heading {
      font-size: 2rem; } }

.about-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 1090px) {
    .about-content-wrapper {
      flex-direction: column;
      text-align: center; } }

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.about-gif {
  height: 25rem;
  margin-right: 2rem; }
  @media screen and (max-width: 1284px) {
    .about-gif {
      height: 20rem; } }
  @media screen and (max-width: 550px) {
    .about-gif {
      height: 15rem; } }
  @media screen and (max-width: 450px) {
    .about-gif {
      height: 10rem; } }

.about-para {
  font-size: 1.5rem;
  margin: 1rem 0; }
  @media screen and (max-width: 1192px) {
    .about-para {
      font-size: 1.4rem; } }
  @media screen and (max-width: 450px) {
    .about-para {
      width: 20rem; } }

.card {
  background: #4dabf7;
  width: 26rem;
  text-align: center;
  border-radius: 12px;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem; }
  .card-container {
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center; }
    @media screen and (max-width: 994px) {
      .card-container {
        flex-direction: column; } }
  .card-heading-text {
    font-size: 3rem;
    font-weight: 700;
    color: white; }
  .card-heading-tag {
    margin-top: 0.8rem;
    background: #e4d124;
    display: inline-block;
    padding: .3rem .3rem;
    border-radius: 5px;
    font-weight: 600; }
  .card-price-text {
    font-size: 4rem;
    font-weight: 600;
    color: white;
    margin: -3rem 0; }
  .card-features-list {
    margin: 0;
    list-style: none;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
  .card-features-item {
    display: flex;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: unset;
    padding: .7rem 0 .7rem 0;
    width: 18rem; }
    .card-features-item:not(:first-child) {
      border-top: 1px solid white; }

.pricing {
  margin-top: 5rem; }

html {
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif; }
  @media screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 1400px) {
    html {
      font-size: 75%; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.headings {
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  color: transparent;
  background: linear-gradient(to right, #97d9ff, #339af0);
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 2rem; }

.clearfix {
  overflow: auto; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.up-btn {
  position: fixed;
  cursor: pointer;
  z-index: 12044341342;
  font-size: 3rem;
  bottom: 3rem;
  right: 3rem;
  transition: .3s;
  background: #fff;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }
  .up-btn i {
    color: #339af0; }

.hidden-btn {
  visibility: 0;
  opacity: 0; }

.section--hidden {
  visibility: 0;
  opacity: 0; }

.section {
  transition: .2s; }

.btn-submit {
  border: 1px solid white;
  padding: .2rem 1rem;
  background-color: white;
  font-size: 1.5rem;
  cursor: pointer;
  color: #4dabf7;
  border-radius: 2px; }
  .btn-submit:focus {
    outline: none; }

.imagediv {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem; }
  @media screen and (max-width: 898px) {
    .imagediv {
      flex-direction: column; } }
  .imagediv img {
    height: 30rem; }
    @media screen and (max-width: 1300px) {
      .imagediv img {
        height: 20rem; } }
    @media screen and (max-width: 449px) {
      .imagediv img {
        height: 10rem; } }

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem; }

.fcontent {
  font-size: 1.6rem;
  text-align: center; }
  @media screen and (max-width: 900px) {
    .fcontent {
      font-size: 1.4rem; } }
