@import './variables';
@import './mixins';
@import './utilities';

@import './components/cargoDrone';
@import './components/features';
@import './components/navbar';
@import './components/hero';
@import './components/faqs';
@import './components/timeline';
@import './components/testimonials';
@import './components/footer';
@import './sass/components/calculator';
@import './components/delivery';
@import './components/about';
@import './components/pricing';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');

html{
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;

      @include respond(1200px) { // width < 1200?
          font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
      }
  
      @include respond(900px) { // width < 900?
          font-size: 50%; //1 rem = 8px, 8/16 = 50%
      }
      
      @include respond(1400px) {
          font-size: 75%; //1rem = 12, 12/16
      }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.headings{
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  color: transparent;
  background: linear-gradient(to right, rgb(151, 217, 255), $teal-dark);
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 2rem;
}


.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.up-btn{
  position: fixed;
  cursor: pointer;
  z-index: 12044341342;
  font-size: 3rem;
  bottom: 3rem;
  right: 3rem;
  transition: .3s;
  background: #fff;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  
  i{
    color: $teal-dark;
  }
}

.hidden-btn{
  visibility: 0;
  opacity: 0;
}

.section{
  // transform: translateY(0);
  transition: .8s;
}

.section--hidden{
  visibility: 0;
  opacity: 0;
  transform: translateY(2.6rem);
}


.btn-submit{

  border: 1px solid white;
  padding: .2rem 1rem;
  background-color: white;
  font-size: 1.5rem;
  cursor: pointer;
  color: $teal-primary;
  border-radius: 2px;


  &:focus{
    outline: none;
  }
}

.imagediv{
  display: flex;
  justify-content: center;
  gap: 2rem;
  @include respond(898px){
    // font-size: 1.4rem;
    flex-direction: column;
  }
  margin-top: 4rem;
  img{
    height: 30rem;
    @include respond(1300px){
      height: 20rem;
  }

  @include respond(449px){
    height: 10rem;
  }

  }
}

.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
}
.fcontent{
  font-size: 1.6rem;
  text-align: center;

  @include respond(900px){
    font-size: 1.4rem;
  }
}

.f-content{
  padding: 8rem 0;
}