.navbar{
  // position: sticky;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  position: relative;

  &-logo{
    cursor: pointer;
    height: 3rem;

    @include respond(800px){
      height: 2rem;
    }
  }

  &-img{
    height: 4rem;


  }

  &-list{
    list-style: none;

    @include respond(1401px){
      display: none;
    }
  }

  &-item{
    display: inline-block;
    padding: 0 2rem;
    font-size: 1.6rem;
    cursor: pointer;
    

  }
  &-item{
    // color: #000;
    cursor: pointer;
    transition: .4s;
    a{
    color: #000;
    text-decoration: none;
    &:hover{
      color: $teal-darkest;
    }
    }
    &:hover{
      color: $teal-darkest;
    }
  }

  &-userbox{
    display: flex;
    align-items: center;


    @include respond(1401px){
      display: none;
    }

  }
      
  &-user{
    font-size: 1.7rem;
    margin-right: 1rem;
    font-weight: 300;
  }

  &-hidden{
    position: absolute;
    top: 2rem;
    width: 95%;

    & > *{
      position: absolute;
    }

    .fas{
      right: 0rem;
      color: $teal-darkest;
      font-size: 2rem;
      visibility: 0;
      opacity: 0;
      @include respond(1401px){
        visibility: visible;
        opacity: 1;
      }
      @include respond(600px){
        right: 1rem;
      }
    }

    &-links{
      top: 4rem;
      z-index: 10000;
      background-color: #fff;
      height: 0;
      width: 100%;
      opacity: 0;
      visibility: none;
      transition: .4s;
      pointer-events: none;
    }

    &-list{
      list-style: none;
      // height: 0;

    }

    &-link{
      color: $teal-darkest;
      text-decoration: none;
     
    }

    &-item{
      cursor: pointer;
      margin: 2rem 0;
      color: $teal-darkest;
      text-decoration: none;
    }
  }
}

.visible{
  width: 100%;
  opacity: 1;
  visibility: visible;
  height: 50rem;
}

.dropdown {

  &-btn{
    font-size: 1.6rem;
    outline: none;
    border: none;
    background: #fff;
    font-family: "Montserrat";

    &:focus ~ ul{
      visibility: visible;
      opacity: 1;
    transform: translateY(0);

    }
  }
  &-list{
    visibility: hidden;
    opacity: 0;
    margin-top: 1rem;
    border-radius: 10px;
    position: absolute;
    list-style: none;
    height: 25rem;
    width: 20rem;
    background: $teal-darkest;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: .3s;
    transform: translateY(-10px);
    li a{
      color: white !important;
      display: block;
      &:hover{
        color: white;
      }
    }

    li {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      a{
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }
}

.pe{
  pointer-events: all;
}